@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #111344;
  --secondary: #52154e;
  --highlight: #f9cff2;
  --textPrimary: #efe9e7;
  --textSecondary: #dae0f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--primary);
    --foreground: var(--textPrimary);
  }
}

body {
  background: var(--background);
  color: var(--textPrimary);
  font-family: monospace,Arial, Helvetica, sans-serif;
}

.nav-link{
  @apply text-textPrimary font-bold text-xl hover:text-textSecondary transition-colors;
}

.nav-item{
  @apply hover:scale-125 transition-all
}

.blur-mask {
  -webkit-mask-image: radial-gradient(circle, var(--primary) 65%, transparent 70%);
  mask-image: radial-gradient(circle, var(--primary) 65%, transparent 70%);
  mask-composite: intersect;
}
